/* CSS Variable */
:root {
  --bg-title: rgba(115, 188, 255, 0.08);
  --text-title : #3908ab;

}
/* CSS Variable End */
/* ----- */
/* Font face declaration */
@font-face {
font-family: 'Nobile';
src: url('../assets/font/Nobile-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Nobile';
src: url('../assets/font/Nobile-Italic.ttf') format('truetype');
font-weight: normal;
font-style: italic;
}
@font-face {
font-family: 'Nobile';
src: url('../assets/font/Nobile-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'Nobile';
src: url('../assets/font/Nobile-MediumItalic.ttf') format('truetype');
font-weight: 500;
font-style: italic;
}
@font-face {
font-family: 'Nobile';
src: url('../assets/font/Nobile-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Nobile';
src: url('../assets/font/Nobile-BoldItalic.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: 'Nexa';
src: url('../assets/font/Nexa-Bold.otf') format('opentype');
font-weight: bold;
font-style: normal;
}
/* Font face declaration End */
/* ----- */
/* Top Navigation */
.bg-title {
  background-color: var(--bg-title);
  color: var(--text-title);
}
.top-bar {
  padding: 19px 0 15px 0;
  align-items: end;
  background-color: unset;
}
.top-bar.no-side-pad {
  padding-right: 0;
  padding-left: 0;
}
.logo {
  width: 222px;
  height: 26px;
  object-fit: contain;
}
.logo2 {
  width: 48px;
  height: 19.5px;
  object-fit: contain;
  vertical-align: sub;
}
.top-bar-right p {
  margin-bottom: 0;
  height: 17px;
  font-family: Nobile;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  line-height: normal;
  color: var(--tex-title);
}
.title-bar {
  background-color: unset;
  color: var(--tex-title);
  padding-left: 0;
}
/* Top Navigation End */
/* ----- */
/* Hero section */
.simple-subscription-form {
  color: #fefefe;
  border-radius: 4px;
  margin-top: 29.5px;
  margin-bottom: 14px;
}

.simple-subscription-form .button {
  margin-bottom: 0;
  margin-top: 10px;
  border-radius: 4px;
}

.hero-img form {
  max-width: 471px;
  height: 40px;
}

.simple-subscription-form form .email {
  resize: horizontal;
  width: 292px;
  border: unset;
  border-radius: 4px 0 0 4px;
  box-shadow: 0px 1px 6px 0 rgba(28, 28, 28, 0.24);
  background-image: url('../assets/images/email_2.png');
  background-repeat: no-repeat;
  padding-left: 10px;
  text-indent: 27px;
  background-position: 10px center;
}
button:active {
  -webkit-box-shadow: inset 0px 0px 5px #777 !important;
     -moz-box-shadow: inset 0px 0px 5px #777 !important;
          box-shadow: inset 0px 0px 5px #777 !important;
  border: unset !important;
}
.email-box button {
  border: unset;
  padding: 0;
  font-family: Nobile;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 40px;
  object-fit: contain;
  background-image: linear-gradient(to top, #3908ab, rgba(115, 188, 255, 0.5));
  box-shadow: 0px 1px 6px 0 rgba(28, 28, 28, 0.24);
/*   background-image: linear-gradient(to top, rgba(57, 8, 171, 0.3), #73bcff);
  box-shadow: 0px 1px 6px 0 rgba(28, 28, 28, 0.24); */
}
.hero-img {
  min-height: 238px;
  max-width: 100%;
  background-color: var(--text-title);
  background-image: url('../assets/images/image.jpg');
  background-image: -webkit-image-set(url('../assets/images/image.jpg') 1x, url('../assets/images/image@2x.jpg') 2x, url('../assets/images/image@3x.jpg') 3x);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center left;
}
.hero-img h1{
  font-family: Nexa;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  line-height: 50px;
  color: #FFF;
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: normal;
}
.email-box .sub-heading {
  /* width: 363.5px; */
  height: 41.5px;
  font-family: Nobile;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #3908ab;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.filler {
  height: 238px;
}
.cta-v-margin {
  padding: 60px 0;
}
@media screen and (max-width: 39.9375em) {
.cta-v-margin {
  padding: 0;}
}
.input-group, p.sub-heading, #list-icon .title p{
  margin-bottom: 0;
}
p.ico {
  font-family: Nobile;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.18;
  letter-spacing: normal;
  text-align: left;
  color: #73bcff;
  padding-left: 18px;
  margin-bottom: 8px;
}

p.ico:before {
  content: '';
  display: block;
  height: 12.5px;  /*height of icon */
  width: 11px;  /*width of icon */
  position: absolute;
  background-size:cover;
  top: 3px;
  left: 20px;
  background-image: url('../assets/images/shield_2.png');
  margin-left:-20px;
}
.email-box .icon-parent {
  position: relative;
}
.email-box .policy {
  margin-bottom: 0;
  height: 28.5px;
  opacity: 0.7;
  font-family: Nobile;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #191f5d;
}
a.link-highlight {
  color: #191f5d;
  border-bottom: solid 1px rgba(25, 31, 93, .3);
}
a.link-highlight:hover {
  color: #3908ab;
  border-bottom: solid 1px #3908ab;
}
/* Hero section End */
/* ----- */
/* List Icon  */
#list-icon .email-box {
  background-color: var(--bg-title);
  padding: 30px;
}
#list-icon .title.text-left p {
  font-family: Nexa;
  font-size: 30px;
  font-weight: bold;
  color: #3908ab;
  padding-top: 30px;
  padding-bottom: 35px;
}
#list-icon .title {
  text-align: left;
}
#list-icon.fluid {
  margin-bottom: 35px;
}
#list-icon .text-left p {
  font-family: Nobile;
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  color: #191f5d;
  display: inline-block;
  margin-bottom: 0;
}
.list-icon-height {
  min-height: 388px;
}
img.thumbnail {
  margin-bottom: 25px;
  height: 30px;
  width: 30px;
}
/* List Icon End  */
/* ----- */
/* Copyright */
.copyright-height {
  min-height: 45px;
  margin: 0 auto;
}
#copyright {
  background-color: var(--bg-title);
}
#copyright p {
  margin-bottom: 0;
  text-align: left;
  align-items: center;
  padding-top: 13px;
  font-family: Nobile;
  font-size: 11px;
  line-height: 2.18;
  color: #191f5d;
}
#copyright a {
  color: #191f5d;
  border-bottom: solid 1px #d6d6de;
}
/* Copyright End */